/* selectores 
    - tag
    - id
    - class 

fallbak: que hago cuando falla algo
em relativo a 16px = 1em M mayus en IE
vw relativo al size de la pantalla
svg iconos editables    
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, div{
    color: blue;
    clear: left;
}

#myP{
    color: red;    
}

#myDiv{
    background-color: rgba(150, 2, 255, 0.2);
    height: 100px;
    width: 100px;    
    border: 1px solid rgba(150, 2, 255, 1);
    border-radius: 50%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;    
}

ul{
    list-style-type: none;
}

ul li{
    background-color: lightblue;
    float: left;
    width: 33.33%;
    padding: 10px;
    border-right: 4px solid gray;
}

ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    display:  block;
}

ul li:last-child{
    border-right: none;
}

ul li:hover{
    background-color: blue;
}

@media only screen and (max-width: 500px){
    ul li{
        float: none;
        border-right: none;
        border-bottom: 4px solid gray;
        width: 100%;
        position: relative;
        left: -150px;
        transition: left 3s;
    }
    ul li:last-child{
        border-bottom: none;
    }
    ul li:hover{
        left: 0;
    }
}